{% extends 'layout.html' %}
{% block content %}
{% include '/users/settings.html' %}

<div class="col">
    <div class="header-container">
        <div>
            <h6>Senders</h6>
            <span>Sender will be used to send campaigns from, you can add/manage senders here</span>
        </div>
        <a href="{{ url_for('users.configuration') }}"><button class="btn btn-secondary btn-small">Add
                sender</button></a>
    </div>
    <hr class="heading-line">
    <div>
        {% if senders %}
        {% for sender in senders %}
        <div class="white-container sender-details">
            <strong>{{sender.email}}</strong><br>
            <span class="t12"><strong>Platform:</strong> {{sender.platform}} <span class="link-separator"></span> <strong>Host: </strong>{{ sender.host }} <span class="link-separator"></span> <strong>Port:</strong> {{sender.port}}</span>
            <div class="action-links mt-2">
		<button class="t12 plain-btn" href="{{ url_for('campaigns.templates') }}">
                    <i class="fa-solid fa-arrows-rotate"></i> Test Connection
                </button>
		<span class="link-separator"></span>
                <a class="t12" href="{{ url_for('campaigns.templates') }}">
                    <i class="fa-solid fa-pen-to-square"></i> Edit
                </a>
                <span class="link-separator"></span>
                <button class="t12 plain-btn" href="{{ url_for('campaigns.templates') }}">
                    <i class="text-danger fa-regular fa-trash-can"></i> Delete
                </button>
                </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="white-container">
            <p>You don't have any senders yet. Create one to see here</p>
            <a href="{{ url_for('users.configuration') }}"><button class="btn btn-secondary">Create sender</button></a>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}